<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Notes creator</title>
    </head>

    <body>
		<h1>Notes</h1>

        <table>
		<tr>
		<th style="text-align:left">Logged in as: <td>{{user.username}} 
		</table>


        <form action='logout/' method="POST">
			{% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>

        <h2>Create new note</h2>

        <form action="notes" method="POST">
        {% csrf_token %}
        <label for="title">Title</label>
        <br>
        <input id="title" name="title" />
        <br>
        <label for="content">Description</label>
        <br>
        <textarea id="content" name="content"></textarea>
        <button type="submit">Add</button>
        </form>

        <div>
        <ul>
            <h2>Notes:</h2>
            {% for note in notes %}
            <li>
              <div class="note">
              <a href="/notes/{{note.id}}/">{{ note.title }}</a>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>

    </body>

</html>
